<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vbudi.omnichannel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BlueCompute-Android"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ItemList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemDetail" />
        <activity android:name=".AddReview">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="org.apic" android:host="example.com"/>
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>