<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oAuthRestUrl</key>
	<string>https://api.us.apiconnect.ibmcloud.com/centusibmcom-cloudnative-dev/bluecompute</string>
	<key>clientId</key>
	<string>3f1b4cc8-78dc-450e-9461-edf377105c7a</string>
	<key>clientSecret</key>
	<string></string>
	<key>itemRestUrl</key>
	<string>https://api.us.apiconnect.ibmcloud.com/centusibmcom-cloudnative-dev/bluecompute</string>
	<key>reviewRestUrl</key>
	<string>https://api.us.apiconnect.ibmcloud.com/centusibmcom-cloudnative-dev/bluecompute</string>
	<key>oauthBaseUrl</key>
	<string>https://api.us.apiconnect.ibmcloud.com/centusibmcom-cloudnative-dev/bluecompute</string>
	<key>oauthRedirectUri</key>
	<string>org.apic://example.com</string>
	<key>mobileanalyticKey</key>
	<string>b98aa344-c133-4cfd-ab40-f679d63ec141</string>
</dict>
</plist>
