<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oAuthRestUrl</key>
	<string>https://api.us.apiconnect.ibmcloud.com/centusibmcom-cloudnative-qa/bluecompute</string>
	<key>clientId</key>
	<string></string>
	<key>clientSecret</key>
	<string></string>
	<key>itemRestUrl</key>
	<string>https://api.us.apiconnect.ibmcloud.com/centusibmcom-cloudnative-qa/bluecompute</string>
	<key>imageRestUrl</key>
	<string>http://image-endpoint-host/image</string>
	<key>reviewRestUrl</key>
	<string>https://api.us.apiconnect.ibmcloud.com/centusibmcom-cloudnative-qa/bluecompute</string>
	<key>oauthBaseUrl</key>
	<string>https://api.us.apiconnect.ibmcloud.com/centusibmcom-cloudnative-qa/bluecompute</string>
	<key>oauthRedirectUri</key>
	<string>org.apic://example.com</string>
	<key>mobileanalyticKey</key>
	<string></string>
</dict>
</plist>
